{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "api": "./public/styles",
          "assets": "./public/styles"
        }
      }
    ]
  ]
}
